@import 'reset';
@import 'fonts';

$maincolor: #00100f;

body{
    background-color: $maincolor;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}
.header-top{
    background: #004643;
    padding: 11px 0;
    .phone-social{
        display: flex;
        justify-content: flex-end;
        a{
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            img{
                margin-right: 10px;
            }
        }
        .social{
            display: flex;
            margin-left: 48px;
            li{
                margin-right: 30px;
            }
            li:last-child{
                margin-right: 0;
            }
        }
    }
}
.header-bottom{
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05);
    background: #000908;
    padding: 19px 0;
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__menu{
            display: flex;
            li{
                margin-right: 42px;
                a{
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
            li:last-child{
                margin-right: 0;
            }
        }
    }
}
.banner{
    background-image: url('../img/png/banner-index.png');
    background-position-x: right;
    background-repeat: no-repeat;
    padding-top: 61px;
    padding-bottom: 106px;
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__text{
        h1{
            font-family: "Dela Gothic One", sans-serif;
            font-weight: 400;
            font-size: 54px;
            color: #fff;
            max-width: 551px;
            line-height: 145%;
            margin-bottom: 27px;
            span{
                color: #33b0aa;
            }
        }
        ul{
            margin-bottom: 47px;
            li{
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 20px;
                line-height: 140%;
                color: #fff;
                margin-bottom: 16px;
                padding-left: 12px;
                border-left: 2px solid #28b0a9;
            }
                li:last-child{
                margin-bottom: 0;
            }
        }
    button{
        padding: 16px 30px;
        border-radius: 12px;
        margin-right: 30px;
        background: #263131;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #fff;
    }
    .act{
        background: #20908A;
    }
        
        
    }
}
